<footer>
    <h2>&copy; 2023 Animal Focus Vet</h2>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/fishRoutes">Adopt</a></li>
            <li><a href="#">My Applications</a></li>
        </ul>
    </nav>
</footer>
