<footer>
    <h2>&copy; Fish Are Gold</h2>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/fishRoutes">Fish List</a></li>
            <li><a href="/fishRoutes/new">List Your Fish</a></li>
        </ul>
    </nav>
</footer>
