<!-- <%# THIS WILL SERVE AS THE NAVIGATION BAR %> -->

<header>
    <h1> <a href='/'>AFV Adoption Home</a></h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/fishRoutes">Pets List</a></li>
            <li><a href="/fishRoutes/new">Surrender Form</a></li>
            <li><a href="#">Adoption</a></li>
        </ul>
    </nav>
</header>
