<%# THIS WILL SERVE AS THE NAVIGATION BAR %>

<header>
    <h1>AFV Adoption Home</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/fishRoutes">Adopt</a></li>
            <li><a href="#">My Applications</a></li>
        </ul>
    </nav>
</header>
