<!-- <%# THIS WILL SERVE AS THE NAVIGATION BAR %> -->

<header>
    <h1> <a href='/'>Fish Are Gold</a></h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/fishRoutes">Fish List</a></li>
            <li><a href="/fishRoutes/new">List Your Fish</a></li>
        </ul>
    </nav>
</header>
