<!-- <%# THIS WILL SERVE AS THE NAVIGATION BAR %> -->

<header>
    <h1>AFV Adoption Home</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/fishRoutes">Pets List</a></li>
            <li><a href="#">My Application</a></li>
        </ul>
    </nav>
</header>
