<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs', {title: 'AFV Adoption Home'}) %>
    <link rel="stylesheet" href="/styles/404.css">
</head>

<body>
    <div class="glassy">
        <h1>Page Not Found</h1>
        <p>Sorry, the page you're looking for cannot be found.</p>
        <img src="https://media.istockphoto.com/id/1043007534/vector/cute-goldfish-crying-funny-fish-cartoon-character-vector-illustration-on-a-white-background.jpg?s=612x612&w=0&k=20&c=OfgthQOmHFKbgcBetOEJjc1ZG9L4OUDR6Anv6N5JC8I=">
        <a href="/fishRoutes">Go to -> FishAreGold</a>
    </div>
</body>

</html>
