<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs', {title: 'Add A Review | FishAreGold'}) %>
    <link rel="stylesheet" href="/styles/new-form.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <h1>Leave A Review</h1>

    <form method="POST" action="/fishRoutes">
        <!-- Name input -->
        <label for="Name">Name:</label>
        <input type="text" id="name" name="Name" required>
        <br>
          <!-- Description input -->
          <label for="reviewer">Reviewer:</label>
          <input type="text" id="reviewer" name="reviewer">
          <br>
            <!-- Rating input -->
        <label for="title">Title:</label>
        <input type="text" id="title" name="title">
        <br>
        <!-- Price input -->
        <label for="content">Content:</label>
        <input type="text" id="content" name="content" required>
       <br>
       <input type="submit" value="Submit Review">
    </form>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
